beautifulsoup4==4.14.3
selenium==4.39.0
requests==2.32.5
pyotp==2.9.0
google-api-python-client==2.188.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
pytz==2025.2
selenium-requests==2.0.4
base32hex==1.0.2
